@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
    flex
    py-6
    gap-y-6
    flex-col
    text-base
    bg-no-repeat
    sm
    to-pink-200
    from-sky-400
    ;

    background-size: 50rem 35rem, auto;
    background-position: calc(100vw - 30rem) calc(100vh - 30rem), 0 0;
    background-image: url(/clouds.webp), linear-gradient(to bottom right, var(--tw-gradient-stops));
  }
  
  main {
    @apply
    flex
    px-6
    gap-y-6
    mx-auto
    flex-col
    container
    sm:px-12
    sm:gap-y-12
    ;
  
    min-height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
  }
  
  h1 {
    @apply container mx-auto px-12 text-xl text-sky-700;
  }
  
  button, button[type="submit"] {
    @apply
    px-3
    py-1
    w-28
    flex
    text-sm
    rounded
    relative
    items-center
    justify-center
    focus:shadow-lg
    active:enabled:shadow
    hover:enabled:shadow-lg
    focus-visible:outline-none
    bg-pink-400
    text-stone-100
    hover:bg-pink-500
    active:bg-pink-300
    disabled:bg-pink-300
    disabled:text-pink-200
    sm:w-36
    sm:text-base
    ;
  }
  
  input, textarea {
    @apply
    px-2
    py-1
    text-sm
    rounded
    border-none
    focus:ring-2
    focus:border-none
    focus:outline-none
    bg-stone-100
    text-gray-800
    focus:ring-pink-500
    sm:text-base
    ;
  }

  label {
    @apply flex flex-col flex-1 gap-1 text-pink-500 text-sm sm:text-base;
  }

  a[href] {
     @apply text-pink-500;
  }

  a[href]:hover {
    @apply underline;
 }
}

@layer components {
  form {
    @apply rounded shadow-lg flex flex-col gap-6 p-6 bg-pink-200;
  }

  .spinner {
    @apply animate-spin w-10 h-10;
  }

  .spinner.sm {
    @apply w-5 h-5;
  }

  .loading-mask {
    @apply
    flex
    top-0
    left-0
    right-0
    bottom-0
    absolute
    items-center
    bg-transparent
    justify-center
    ;
  }

  .loading-mask .spinner {
    @apply fill-stone-100 text-slate-400;
  }

  .message {
    @apply
    p-12
    flex-1
    rounded
    text-sm
    relative
    shadow-lg
    overflow-auto
    whitespace-pre-wrap
    bg-slate-800/70
    text-neutral-200
    ;
  }

  .message pre {
    @apply !bg-transparent;
  }

  .timer {
    @apply ml-3 text-sm font-semibold text-pink-400;
  }
}
