@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply container mx-auto flex flex-col gap-12 p-12 bg-stone-100;
}

h1 {
  @apply text-4xl;
}

button, button[type="submit"] {
  @apply rounded px-3 py-1 w-36 text-lg flex items-center justify-center relative
    active:shadow
    focus:shadow-lg
    hover:shadow-lg
    focus-visible:outline-none
    bg-pink-500
    text-stone-100
    hover:bg-pink-600
    active:bg-pink-400
  ;
}

input {
  @apply rounded px-2 py-1 font-normal
    border-none
    focus:ring-2
    bg-stone-100
    text-gray-800
    focus:border-none
    focus:outline-none
    focus:ring-pink-500
  ;
}

form {
  @apply rounded shadow-lg flex flex-col gap-6 p-6 bg-pink-200;
}

.fields {
  @apply flex gap-6;
}

label {
  @apply flex flex-col flex-1 gap-1 text-pink-500 font-bold;
}

.spinner {
  @apply animate-spin w-10 h-10;
}

.spinner.sm {
  @apply w-5 h-5;
}

button .spinner, button[type="submit"] .spinner {
  @apply absolute left-4 fill-stone-100 text-pink-300;
}

.loading-mask {
  @apply flex justify-center items-center
    absolute left-0 right-0 top-0 bottom-0
    bg-pink-200 bg-transparent;
}

.loading-mask .spinner {
  @apply fill-stone-100 text-slate-400;
}

.message {
  @apply rounded shadow-lg relative bg-slate-600 p-12 text-neutral-200;
}